.quiz-main-action
  height: 2em
  width: 2em
  font-size: 4em

@media (min-width: 800px)
  .answer-form-field
    transform: translateX(6px)

.answer-input
  font-size: 1.5em
  text-align: center

.result
  font-size: 2em

  ::ng-deep p
    margin-top: .5em

.correct
  color: green

.wrong
  color: red
  margin-right: 10px
  text-decoration: line-through

.summary
  font-size: 5em
  line-height: 2em
  margin: 0

  small
    font-size: .7em

.restart-action
  margin-bottom: .7em
