<main *ngIf="!challengesCompleted">
  <section>
    <button
      class="quiz-main-action"
      (click)="currentChallenge.revealed ? next() : play()"
      color="primary"
      disableRipple
      mat-icon-button
    >
      <mat-icon inline>
        {{ currentChallenge.revealed ? "skip_next" : "play_circle_outline" }}
      </mat-icon>
    </button>
  </section>

  <mat-form-field *ngIf="!currentChallenge.revealed" class="answer-form-field">
    <form (ngSubmit)="submit($event)" #challengeForm="ngForm">
      <input
        autocomplete="off"
        autofocus
        class="answer-input"
        matInput
        type="number"
        [(ngModel)]="answer"
        name="answer"
        #answerInput
      >
    </form>
  </mat-form-field>

  <section class="result" *ngIf="currentChallenge.revealed">
    <p class="correct" *ngIf="currentChallenge.text == answer">
      {{ answer }}
    </p>
    <p *ngIf="currentChallenge.text != answer">
      <span class="wrong">{{ answer }}</span>
      <span class="correct">{{ currentChallenge.text }}</span>
    </p>
  </section>
</main>

<main *ngIf="challengesCompleted">
  <p class="summary">
    {{ challengesInfo.correct }} <small>/ {{ challengesInfo.all }}</small>
  </p>
  <button
    class="strong-action"
    color="primary"
    mat-flat-button
    (click)="restart()"
  >
    Restart
  </button>
  <div>
    <a routerLink="/" mat-button>back home</a>
  </div>
</main>
