.quiz-main-action
  $size: 1.8em
  height: $size
  width: $size
  background: #fff
  border: 2px solid #eee
  border-radius: .2em
  font-size: 2 * $size

.text
  position: absolute
  font-size: .2em
  bottom: 0
  left: 50%
  transform: translate(-50%, 80%)
  color: #bbb
