<main *ngIf="!challengesCompleted">

  <section class="actions">
    <app-main-action
      (click)="play($event)"
      [challenge]="currentChallenge"
      icon="play_circle_outline"
      class="main-action"
      text="p - play sound"
    ></app-main-action>

    <app-main-action
      (click)="next()"
      [challenge]="currentChallenge"
      icon="navigate_next"
      class="main-action"
      text="n - next number"
    ></app-main-action>
  </section>

  <section class="text">
    <p>{{ currentChallenge.text }}</p>
    <p class="additional-info">
      {{ currentChallengeIndex + 1 }} / {{ challenges.length }}
    </p>
  </section>

</main>

<main *ngIf="challengesCompleted">
  <p class="text">All done!</p>
  <app-end-nav
    (restart)="setupChallenges()"
  ></app-end-nav>
</main>
