<div class="container">
  <mat-form-field class="form-field">
    <mat-label class="label">voice</mat-label>
    <mat-select
      [value]="config.voice"
      (selectionChange)="configService.update({ voiceName: $event.value.name })"
    >
      <mat-option
        *ngFor="let voice of configService.voices"
        [value]="voice"
      >
        {{ voice.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label class="label">voice speed</mat-label>
    <mat-select
      [value]="config.voiceRate"
      (selectionChange)="configService.update({ voiceRate: $event.value })"
    >
      <mat-option
        *ngFor="let voiceRate of available.voiceRates"
        [value]="voiceRate"
      >
        {{ formatVoiceRate(voiceRate) }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label class="label">numbers up to</mat-label>
    <mat-select
      [value]="config.range"
      (selectionChange)="configService.update({ range: $event.value })"
    >
      <mat-option
        *ngFor="let range of available.ranges"
        [value]="range"
      >
        {{ formatRange(range) }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label class="label">batch size</mat-label>
    <mat-select
      [value]="config.batch"
      (selectionChange)="configService.update({ batch: $event.value })"
    >
      <mat-option
        *ngFor="let batch of available.batches"
        [value]="batch"
      >
        {{ batch }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label class="label">mode</mat-label>
    <mat-select
      [value]="config.mode"
      (selectionChange)="configService.update({ mode: $event.value })"
    >
      <mat-option
        *ngFor="let mode of available.modes"
        [value]="mode"
      >
        {{ mode }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <a
    mat-flat-button
    class="strong-action"
    color="primary"
    [routerLink]="quizLink"
  >
    Start
  </a>
</div>

