.form-field
  margin-bottom: 2em

.form-field-select
  margin-bottom: 1em

.label
  display: block
  font-size: 1.2em
  margin-bottom: .5em

.radio-option
  margin-bottom: 8px
  margin-right: 20px

  &:last-child
    margin: 0

.start-action
  font-size: 1.2em
  padding: .3em 1.5em
  text-transform: uppercase
